<div id="scheduleContainer" class="container-fluid">
  <span>{{errorMessage}}</span>
  <ng2-datepicker [(ngModel)]="startDate" (ngModelChange)="reloadSchedule()" [options]="calendarOptions" ></ng2-datepicker>
  <span>&nbsp;&nbsp;-to-&nbsp;&nbsp;</span>
  <ng2-datepicker [(ngModel)]="endDate" (ngModelChange)="reloadSchedule()" [options]="calendarOptions" ></ng2-datepicker>
  <div class="row"></div>
  <div class="row" >
    <div *ngFor="let day of getDaysBetweenDates()" [style.width.%]="100/runs.length" class="scheduleDay">
      <div *ngFor="let run of runs">
        {{run.compounds}}
      </div>
    </div>
  </div>
  <button (click)="showRuns()">show runs</button>
</div>
